body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  max-width: 1280px;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  padding-top: 1rem;
}

.grid-input {
  padding: 1rem 0;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
}

input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--color-1);
  border-radius: 0.2rem;
  padding: 0.3rem;
}

#salvar {
  background-color: var(--color-1);
  color: var(--color-2);
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
  border: none;
}

#salvar:focus,
#salvar:hover {
  background-color: var(--color-1-focus);
  cursor: pointer;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
}

.grid-item-2 {
  grid-column-start: 3;
  grid-column-end: 8;
}

.grid-item-3 {
  grid-column-start: 8;
  grid-column-end: 8;
}

.container-recados {
  padding-top: 1rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 70%;
}

thead th:nth-child(4) {
  width: 15%;
}

th,
td {
  padding: 0.5rem 0;
  word-wrap: break-word;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-zebra-odd);
}

tbody tr:nth-child(even) {
  background-color: var(--color-zebra-even);
}

.action-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.action-group button {
  width: 40%;
  height: 1.5rem;
  font-size: 0.7rem;
  border: none;
  color: var(--color-2);
  cursor: pointer;
  border-radius: 0.2rem;
}

.apagar {
  background-color: var(--color-delete);
}

.editar {
  background-color: var(--color-edit);
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 1.5rem;
  background-color: var(--color-1);
  color: var(--color-2);
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.logout {
  cursor: pointer;
}

.ico {
  width: 1rem;
  height: 1rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #0000001c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-box {
  min-width: 800px;
  min-height: fit-content;
  padding: 1rem;
  background-color: var(--color-2);
}

.edit-box h3 {
  padding-bottom: 1rem;
}

.edit-box .input-group input {
  margin: 0.3rem 0;
}

.edit-box .action-group {
  padding-top: 1rem;
}

.cancelar {
  background-color: var(--color-delete);
}

.confirmar {
  background-color: var(--color-edit);
}
